9700-as.dmp
9700.bug
9700-fs.dmp
9700-nv.dmp
fledge9700.dll
fledge-failure.txt

startup-252.bug

samples.jdw
samples.mak

probe.dll

wine/*
wine.bkp.tar.xz

info
workspace/*
current_simulator

nohup.out
*.swp
